h2 {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

h3 {
  padding-bottom: 0;
}

section {
  padding: 0 1.5rem 2.5rem 1.5rem;
}

img {
  width: 105px;
}

#mapid {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
}

.theaters {
  position: fixed;
  bottom: -80px;
  padding: 1.5rem;
  border-radius: 1rem 1rem 0 0;
  background-color: #141414;
  opacity: 95%;
  z-index: 1;
}

.theaters:hover {
  transform: translateY(-120px);
  transition: transform .5s ease;
}

.theater {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  padding-bottom: 1rem;
}

p {
  font-size: .8rem;
  line-height: 14.32px;
  color: #C6C6CD;
}

nav {
  z-index: 2;
}