body {
  min-height: 100vh;
  background-image: linear-gradient(to top, transparent 0%, var(--bg-color) 40%), url(assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 150%;
}

main:first-child {
  padding-top: 0;
}

section {
  padding: 2.5rem 1.5rem;
  border-bottom: 1px solid #262626;
}

.upcoming-movie-info {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-text-color);
}

.order-details {
  border-bottom: none;
}

.order-container {
  display: flex;
  justify-content: space-between;
  line-height: 18.75px;
}

.left-container,
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .8rem;
  font-weight: 500;
}

.left-container {
  color: var(--secondary-text-color);
}

.right-container {
  align-items: flex-end;
  color: var(--secondary-text-color);
}

.order-values {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  color: #888888;
}

.qrcode-container {
  padding: 4rem 0;
  text-align: center;
}